.edit {
  position: relative;
  padding: 2rem;
  min-height: 13rem;
}

.edit__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  width: 25px;
  transition: 0.3 ease-in-out;
  cursor: pointer;
}

.edit__close:active {
  transform: scale(0.92);
}

.edit__title {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.edit__form {
  display: flex;
  flex-direction: column;
}

.edit__actions {
  padding-top: 3rem;
}

.edit__actions button {
  padding: 0.5rem 1.25rem;
  background-color: #00bbbb;
}

.edit__actions button:active {
  background-color: rgb(33, 245, 245);
}
