.create {
  position: relative;
  padding: 2rem;
  min-height: 13rem;
}

.create__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  width: 25px;
  transition: 0.3 ease-in-out;
  cursor: pointer;
}

.create__close:active {
  transform: scale(0.92);
}

.create__title {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.create__form {
  display: flex;
  flex-direction: column;
}

.create__actions {
  padding-top: 3rem;
}

.create__actions button {
  padding: 0.5rem 1.25rem;
  background-color: #00bbbb;
}

.create__actions button:active {
  background-color: rgb(33, 245, 245);
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2.75rem;
}

.input input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #ececec;
}

.input label {
  position: absolute;
  top: -6px;
  left: 12px;
  color: #ccc;
  font-size: 0.875rem;
  transition: 0.3s ease-in-out;
}

.input:focus-within label,
.input label.filled {
  top: -24px;
  left: 0;
  color: #222;
}

.input > div {
  position: absolute;
  top: 20px;
  width: 0;
  height: 2px;
  background-color: #00bbbb;
  transition: 0.6s ease-in-out;
}

.input:focus-within > div {
  width: 100%;
}
